#news_board {
  position:fixed;
  right: 0;
  top: 0;
  padding-top: 3%;
  width: 50%;
  height: 70%;
  background-color: #EEFFEE;
  z-index: 8000;
  display: none; /*display by toggle*/
  font-family: "san-serif","微軟正黑體","Times New Roman","Arial","Helvetica";
  padding-left: 3%;
  padding-right: 3%;
  float:left;
  overflow: auto;
}

#news_board {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fdfdfd+96,fcfcfc+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(253,253,253,1) 96%, rgba(252,252,252,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(96%,rgba(253,253,253,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 96%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 96%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 96%,rgba(252,252,252,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 96%,rgba(252,252,252,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}

#news_title {
	font-size:180%;
}

#article {
	font-size:100%;
}

#datetime {
	text-align: right;
}

#popularity {
	text-decoration:underline;
	word-spacing: 5px;
}

#url {
	text-decoration:underline;
}
